#logOut {
    position: fixed;
    top: 1.8%;
    right: 2%;
}

#LogOutIcon {
    font-size: 2.5rem;
}

#menuDesp {
    position: fixed;
    left: 2.5%;
    top: 1.8%;
}

#menuIcon {
    font-size: 2.7rem;
}

body {
    size: 100%;
}

#iconoUser {
    width: 115px;
}

#tree {
    position: fixed;
    top: 27%;
    left: 13%;
}

#permiso {
    position: fixed;
    top: 27%;
    left: 50%;
}

#FileIcon {
    width: 100px;
}

#panel {
    overflow-y: scroll;
    height: 450px;
}

::-webkit-scrollbar {
    display: none;
}

#FileIcon {
    position: fixed;
    top: 10%;
    left: 46%;
    width: 100px;
}

textarea {
    overflow-y: scroll;
    height: 220px;
    resize: none;
    border: none;
    /* outline: none; */
}

#panel2 {
    overflow-y: scroll;
    height: 450px;
}