<body class="blue-grey darken-4">
  <app-Navbar></app-Navbar>
  <br><br><br><br><br>
  <div class="container center-align">
    <div class="row">
      <img src="../../assets/Img/ADI.png" class="responsive-img" id="blockIcon" alt="">
    </div>
    <br><br><br>
    <div class="row">
      <h4 class="white-text">
        No Tiene Permitido Acceder A Esta Pagina
      </h4>
    </div>
  </div>

  <a id="logOut" class="waves-effect waves-light btn transparent"><i id="LogOutIcon"
    class="material-icons white-text">exit_to_app</i></a>
</body>
