<body class="blue-grey darken-4">
  <app-Navbar></app-Navbar>
  <br><br><br><br><br><br><br><br><br>
  <div class="container center-align">
    <div class="row">
      <h1 class="red-text">
        ERROR 404
      </h1>
    </div>
    <div class="row">
      <h4 class="white-text">
        La Pagina A La Que Intenta Acceder No Existe
      </h4>
    </div>
  </div>

  <a (click)="home()" id="logOut" class="waves-effect waves-light btn transparent"><i id="LogOutIcon"
    class="material-icons white-text">exit_to_app</i></a>
</body>