<div id="tree" class="container">
    <div class="row">
        <div class="col s6">
            <div class="card-panel cyan darken-4" style="height: 500px;">
                <div id="jstree_demo_div">
                    <ul>
                        <!-- Una Tabulacion es 4 &nbsp; cer codigo con peticiones entre otros-->
                        <li>Root node 1</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;child_node_1 </li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;child_node_2 </li>
                        <li>Root node 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="permiso" class="container">
    <div class="row">
        <div class="col s6">
            <div class="card-panel transparent" style="height: 500px;">
                <br><br><br>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input id="nameFolder" type="text" class="white-text">
                        <label for="nameFolder">Nombre Folder</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input id="fecha" type="text" class="white-text">
                        <label for="fecha">Fecha Creacion</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input id="Propietario" type="text" class="white-text">
                        <label for="Propietario">Propietario</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s4">
                        <a class="waves-effect waves-light btn"><i
                                class="material-icons left">border_color</i>Asignar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>