#tree {
    position: fixed;
    top: 27%;
    left: 13%;
}

#permiso {
    position: fixed;
    top: 27%;
    left: 50%;
}

#FileIcon {
    width: 100px;
}

textarea {
    overflow-y: scroll;
    height: 220px;
    resize: none;
    border: none;
    /* outline: none; */
}