<div class="container center-align">
  <img src="https://cdn-icons-png.flaticon.com/512/220/220980.png" id="FileIcon" class="responsive-img" alt="">
</div>

<div id="tree" class="container">
  <div class="row">
    <div class="col s6">
      <div class="card-panel blue lighten-2" style="height: 500px;">
        <div id="jstree_demo_div">
          <ul>
              <!-- Una Tabulacion es 4 &nbsp; cer codigo con peticiones entre otros-->
              <li>Root node 1</li>
              <li>&nbsp;&nbsp;&nbsp;&nbsp;child_node_1 </li>
              <li>&nbsp;&nbsp;&nbsp;&nbsp;child_node_2 </li>
              <li>Root node 2</li>
          </ul>
      </div>
      </div>
    </div>
  </div>
</div>
<div id="permiso" class="container">
  <div class="row">
    <div class="col s6">
      <div class="card-panel transparent" style="height: 500px;">
        <div class="row">
          <div class="input-field col s6">
            <input id="Propietario" type="text" class="white-text">
            <label for="Propietario">Propietario</label>
          </div>
          <div class="input-field col s6">
            <input id="fecha" type="text" class="white-text">
            <label for="fecha">Fecha</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="nombreArchivo" type="text" class="white-text">
            <label for="nombreArchivo">Nombre</label>
          </div>
          <div class="input-field col s5 offset-s1">
            <a class="waves-effect waves-light btn blue darken-1"><i
                class="material-icons right">save_alt</i>Guardar</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="ARCHIVO" class="transparent white-text" rows="11"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>